@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 10px;
    }

    .timer-group {
        height: 300px;
        width: 300px;
      }

      .timer.hour .hand span {
        border-width: 150px;
    }

    .timer.minute .hand span {
        border-width: 132px;
    }

    .timer.second:after {
        height: 215px;
        left: 5px;
        width: 215px;
        top: 5px;
    }

    .timer.second .hand span {
        border-width: 115px;
    }

    .face {
        height: 153px;
        left: 40px;
        padding: 70px 40px 0;
        width: 220px;
        top: 37px;
    }
}